h1 {
    background-color: rgba(52, 27, 43, 0);
    border-top: 5px white double;
    border-bottom: 5px white double;
    font-size: xx-large;
}
@media only screen and (max-width: 768px) { h1 {
    width: 280px;
    margin: 40px auto;
}}

main {
    padding-bottom: 0%;
}

/* Central links */
a.largeBox {
    display: block;
    width: auto;
    border: white 2px solid;
    padding: 8px 0px;
    margin: 12px 17%;
}
@media only screen and (max-width: 768px) { a.largeBox {
    margin: 12px 10%;
}}

@media only screen and (max-width: 768px) {
    nav ul#topnav li:nth-child(2) {
        display: block;
    }
}