html, body, div#page-wrapper {
    height: auto;
}    

*.hamburgerMenu, a.icon {
    display: none;
}

h1 {
    background-color: rgba(52, 27, 43, 0.5);
    width: 50%;
    margin: 3% auto;
    padding: 0.5%;
}

ul {
    list-style-type: none;
    padding: 20px 0 0 0;
    width: 80%;
    margin: auto;
    background-color: rgb(52, 27, 43);
}

li div {
    display: inline-block;
}

ul li div:nth-child(1) {
    width: 5%;
    text-align: center;
    padding: 5px 20px 0 0;
    vertical-align: top;
}

ul li div:nth-child(2) {
    width: 75%;
    text-align: justify;
    padding: 5px;
}

li div a, li div a:hover {
    display: block;
    width: max-content;
    text-align: left;
    border: none;
    padding: 2px;    
}

main {
    padding-bottom: 4%;
}

@media only screen and (max-width: 768px) {
    nav ul#topnav li:nth-child(2), nav ul#topnav li:nth-child(3), nav ul#topnav li:nth-child(4), nav ul#topnav li:nth-child(5), nav ul#topnav li:nth-child(6) {
        display: none;
    }

    *.hamburgerMenu, a.icon {
        display: block;
    }

    a.icon {
        position: absolute;
        right: 10px;
        top: 4.367px;
    }

    .nav {
        overflow: hidden;
        position: relative;
    }

    #myLinks {
        display: none;
    }

    ul {
        width: 100%;
        padding-bottom: 4%;
    }

    ul li div:nth-child(1) {
        width: 100%;
        font-size: larger;
        font-weight: bold;
    }
    
    ul li div:nth-child(2) {
        width: 85%;
    }

    main {
        padding-bottom: 0;
    }

    div.hamburgerMenu a {
        padding: 5px 14.367px 10px;
        display: block;
        text-align: left;
        background-color: rgb(52, 27, 43, 0.5);
    }

}