hr {
    size: 3px;
    color: rgba(0, 0, 0, 0.6);
    width: 90%;
}
@media only screen and (max-width: 768px) { hr {
    margin: 40px 0px;
    width: 100%;
}}

ul {
    list-style-type: none;
    padding: 20px 0 0 0;
    width: 80%;
    margin: auto;
    background-color: rgb(52, 27, 43);
}

li div {
    display: inline-block;
}

ul li div:nth-child(1) {
    width: 5%;
    font-size: larger;
    padding: 5px 55px 0 0;
    vertical-align: top;
}

ul li div:nth-child(2) {
    width: 75%;
    text-align: justify;
    padding: 5px;
}

li div a, li div a:hover {
    display: block;
    width: max-content;
    text-align: left;
    border: none;
    padding: 2px;    
}

@media only screen and (max-width: 768px) {
    ul {
        width: 100%;
        padding-bottom: 4%;
    }

    ul li div:nth-child(1) {
        width: 100%;
        font-size: larger;
        font-weight: bold;
    }

    ul li div:nth-child(2) {
        width: 85%;
    }
}