* {
    box-sizing: border-box;
}

html, body, div#page-wrapper {
    height: auto;
    min-height: 100vh;
}    

*.hamburgerMenu, a.icon {
    display: none;
}

body {
    color: white;
    margin: 0%;
    font-family: 'Lato', sans-serif;
    background-image: url(https://raw.githubusercontent.com/drcarrot/drcarrot.github.io/master/images/background.jpg);
    background-size: 100%;
    text-align: center;
    overflow-y:scroll;
}

div#page-wrapper {
    width: 100%;
    background-color: rgba(255, 180, 245, 0.15);
    position: sticky;
}

#activePage {
    padding: 4.367px;
}

a {
    color: whitesmoke;
    padding: 4.367px;
    text-decoration: none;
    transition: background-color 0s;
    display: block;
}
@media only screen and (max-width: 768px) { a {
    text-decoration: white solid underline;
}}    

a:hover {
    border: white 2px solid;
    padding: 3px;
    background-color: rgba(255, 255, 255, 0.3);
    transition: background-color 0.3s;
}
@media only screen and (max-width: 768px) { a:hover {
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
}} 

header {
    display: block;
    position: sticky;
    top: 0;
    z-index: 1;
}

ul#topnav {
    font-weight: bold;
    background-color: rgba(52, 27, 43, 0.5);
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 10px;
}

ul#topnav li {
    display: inline;
    flex: 0 1 auto;
    list-style-type: none;
}

div#banner {
    padding: 2%;
    padding-bottom: 4%;
    background-color: rgba(52, 27, 43, 0.5);
    width: 50%;
    margin: auto;
    margin-top: 5%;
    text-transform: uppercase;
    letter-spacing: 0.3ex;
}
@media only screen and (max-width: 768px) { div#banner {
    margin-top: 15%;
    width: 95%;
}}

h1 {
    background-color: rgba(52, 27, 43, 0.5);
    width: 50%;
    margin: 3% auto;
    padding: 0.5%;
}
@media only screen and (max-width: 768px) { h1 {
    margin: 40px auto;
}}

section#main {
    margin-top: 22%;
    color: rgb(124, 128, 129);
    background-color: rgb(209, 217, 226);
    padding: 6%;
}
@media only screen and (max-width: 768px) { section#main {
    padding: 6% 2%;
}}

h2 {
    margin-top: 2%;
}

p {
    padding: 2% 25%;
    font-size: larger;
    font-weight: 600;
}
@media only screen and (max-width: 768px) { p {
    padding: 2% 10%;
}}    

main {
    padding-bottom: 4%;
}

span.bold {
    font-weight: bold;
}

span.italic {
    font-style: italic;
}

@media only screen and (max-width: 768px) {
    nav ul#topnav li:nth-child(2), nav ul#topnav li:nth-child(3), nav ul#topnav li:nth-child(4), nav ul#topnav li:nth-child(5), nav ul#topnav li:nth-child(6) {
        display: none;
    }

    *.hamburgerMenu, a.icon {
        display: block;
    }

    a.icon {
        position: absolute;
        right: 20px;
        top: 12px;
    }

    .nav {
        overflow: hidden;
        position: relative;
    }

    #myLinks {
        display: none;
    }

    #myLinks a:hover {
        border: none;
    }

    ul {
        width: 100%;
        padding-bottom: 4%;
    }

    ul li div:nth-child(1) {
        width: 100%;
        font-size: larger;
        font-weight: bold;
    }
    
    ul li div:nth-child(2) {
        width: 85%;
    }

    main {
        padding-bottom: 0;
    }

    div.hamburgerMenu a {
        padding: 5px 14.367px 10px;
        display: block;
        text-align: left;
        background-color: rgb(52, 27, 43, 0.5);
    }
}