<main id="sciComm">
  <h1>Scientific Communication</h1>
  <div id="sciCommBanner">
    <h2>Research in 60 seconds: Soil Bacteria and their Resilience</h2>
    <iframe 
      id="sixty" src="https://www.youtube.com/embed/_dq8UA9JmA4?feature=youtu.be&wmode=opaque&enablejsapi=1" 
      scrolling="no" frameborder="0"
    ></iframe>
    <p>
      Billions of bacteria cover nearly every surface and compartment in our planet, and form specific
      communities in each environment they inhabit. Bacterial communities are an integral part of all 
      ecosystems, aiding in nutrient cycling in the soil, to digestion in our guts. My research focuses 
      on understanding how interactions between these bacteria shape the communities over time, and to 
      understand how bacteria recover from disturbances - not as individuals, but as a communal unit.
    </p>
    <div>
      <a 
        href="https://kids.frontiersin.org/article/10.3389/frym.2020.545905" 
        target="_blank" class="sComm"
      >
        <span class="bold">November 2020: </span>Bacteria in Soil Keep Your Hamburger “Healthy”. 
        <span class="italic">Frontiers for Young Minds. </span>
        <fa-icon [icon]="faExternalLinkAlt"></fa-icon>
      </a>
    </div>
    <div>
      <a 
        href="https://naturemicrobiologycommunity.nature.com/posts/where-do-the-data-go-when-nobody-is-looking" 
        target="_blank" class="sComm"
      >
        <span class="bold">August 2020: </span> Where do the data go when nobody is looking? 
        <span class="italic">Nature Microbiology Community </span>
        <fa-icon [icon]="faExternalLinkAlt"></fa-icon>
      </a>
    </div>
  </div>
</main>
