<div id="banner">
  <h1>Tiny Ecology</h1>
  <p>I study the ecology of microbial communities</p>
  <a routerLink="/sciComm" routerLinkActive="active" class="largeBox">Scientific Communication</a>
  <a routerLink="/publications" routerLinkActive="active" class="largeBox">Publications</a>
  <a 
    href="https://www.ufz.de/index.php?en=49430" 
    class="largeBox" target="_blank"
  >
    Research <fa-icon [icon]="faExternalLinkAlt"></fa-icon>
  </a>
  <a href="https://github.com/drcarrot" class="largeBox" target="_blank">
    Code <fa-icon [icon]="faExternalLinkAlt"></fa-icon>
  </a>
</div>