<main id="publications">
  <h1>Publications</h1>
  <hr>
  <ul>
    <li>
      <div class="year">2021</div>
      <div>
        <span class="bold">Jurburg SD</span>, Keil P, Singh BK, Chase J. All together now: limitations
        and recommendations for the simultaneous analysis of all eukaryotic soil sequences. <span
          class="italic">Molecular Ecology Resources. </span><a
          href="https://doi.org/10.1111/1755-0998.13401" target="_blank">doi:
          10.1111/1755-0998.13401</a>
      </div>
    </li>
    <li>
      <div class="year"></div>
      <div>
        <span class="bold">Jurburg SD</span>, Bossers AD, Age Matters: Community Assembly in the Pig 
        Fecal Microbiome in the First Month of Life. <span class="italic">Frontiers in Microbiology.
        </span> <a
          href="https://doi.org/10.3389/fmicb.2021.564408" target="_blank">doi:
          10.3389/fmicb.2021.564408</a>
      </div>
    </li>
    <li>
      <div class="year"></div>
      <div>
        Eisenhauer N, Buscot F, Heintz-Buschart A, <span class="bold">Jurburg SD</span>, Küsel K, 
        Sikorski J, Vogel H, Guerra GA. The multidimensionality of soil macroecology <span 
        class="italic">ISME Journal.</span><a
        href="https://doi.org/10.1111/geb.13211" target="_blank">doi:
        10.1111/geb.13211</a>
      </div>
    </li>
    <li>
      <div class="year">2020</div>
      <div>
        <span class="bold">Jurburg SD</span>, Konzack M, Eisenhauer N, Heintz-Buschart A. The archives
        are half-empty: a field-wide assessment of the availability of bacterial community sequencing
        data. <span class="italic">Current Biology.</span> <a
          href="https://doi.org/10.1038/s42003-020-01204-9" target="_blank">doi:
          10.1038/s42003-020-01204-9</a>
      </div>
    </li>
    <li>
      <div class="year"></div>
      <div>
        <span class="bold">Jurburg SD</span>, McGuire K. Soil microbial composition varies in response
        to coffee agroecosystem management. <span class="italic">FEMS Microbiology Ecology.</span> <a
          href="https://doi.org/10.1093/femsec/fiaa164" target="_blank">doi:
          10.1093/femsec/fiaa164</a>
      </div>
    </li>
    <li>
      <div class="year"></div>
      <div>
        <span class="bold">Jurburg SD</span>, Assemien FL, Beaumelle L, van Elsas JD, Salles JF, Le
        Roux X. A history of extreme disturbance affects the relationship between the abundances of
        nitrifiers in soil. <span class="italic">Biology and Fertility of Soils.</span> <a
          href="https://doi.org/10.1007/s00374-020-01491-8" target="_blank">doi:
          10.1007/s00374-020-01491-8</a>
      </div>
    </li>
    <li>
      <div class="year"></div>
      <div>
        Schreuder J, Velkers F,... & <span class="bold">Jurburg SD</span>. An observational field study
        of the cloacal microbiota in adult laying hens with and without access to an outdoor range.
        <span class="italic">BMC Animal Microbiome.</span> <a
          href="https://doi.org/10.1186/s42523-020-00044-6" target="_blank">doi:
          10.1186/s42523-020-00044-6</a>
      </div>
    </li>
    <li>
      <div class="year"></div>
      <div>White HJ, Leon-Sanchez L…<span class="bold">Jurburg SD</span>…Methods and approaches to advance
        soil macroecology Global. <span class="italic">Ecology and Biogeography.</span> <a
          href="https://doi.org/10.1111/geb.13156" target="_blank">doi: 10.1111/geb.13156</a>
      </div>
    </li>
    <li>
      <div class="year"></div>
      <div>
        Ferlian O, Lintzel EM … <span class="bold">Jurburg SD</span>…Nutrient status not secondary
        metabolites drives herbivory and pathogen infestation across differently mycorrhized tree
        monocultures and mixtures. <span class="italic">Basic and Applied Ecology. </span> <a
          href="https://doi.org/10.1016/j.baae.2020.09.009" target="_blank">doi:
          10.1016/j.baae.2020.09.009</a>
      </div>
    </li>
    <li>
      <div class="year"></div>
      <div>
        Eisenhauer N, Buscot F, …<span class="bold">Jurburg SD</span>… The multidimensionality of soil
        macroecology. <span class="italic">Global Ecology and Biogeography.</span> <a
          href=" https://doi.org/10.1111/geb.13211" target="_blank"> doi: 10.1111/geb.13211</a>
      </div>
    </li>
    <li>
      <div class="year">2019</div>
      <div>
        Schreuder J, Velkers F,... & <span class="bold">Jurburg SD</span>. Limited changes in the fecal
        microbiome composition of laying hens after oral inoculation with wild duck feces. <span
          class="italic">Poultry science.</span> <a href="http://dx.doi.org/10.3382/ps/pez526"
          target="_blank">doi: 10.3382/ps/pez526</a>
      </div>
    </li>
    <li>
      <div class="year"></div>
      <div>
        Khan MJ, <span class="bold">Jurburg SD</span>, He J, Brodie G, Gupta D. Impact of microwave
        disinfestation treatments on the bacterial communities of no‐till agricultural soils. <span
          class="italic">European Journal of Soil Science.</span> <a
          href="https://doi.org/10.1111/ejss.12867" target="_blank">doi: 10.1111/ejss.12867</a>
      </div>
    </li>
    <li>
      <div class="year"></div>
      <div><span class="bold">Jurburg SD</span>, Cornelissen JJ, de Boer P, Smits MA, & Rebel JM.
        Successional dynamics in the gut microbiome determine the success of Clostridium difficile
        infection in adult pig models. <span class="italic">Frontiers in cellular and infection
          microbiology.</span> <a href="https://doi.org/10.3389/fcimb.2019.00271" target="_blank">doi:
          10.3389/fcimb.2019.00271</a>
      </div>
    </li>
    <li>
      <div class="year"></div>
      <div>
        <span class="bold">Jurburg SD</span>, Brouwer MS, Ceccarelli D, van der Goot J, Jansman AJ, &
        Bossers A. Patterns of community assembly in the developing chicken microbiome reveal rapid
        primary succession. <span class="italic">MicrobiologyOpen.</span> <a
          href="https://doi.org/10.1002/mbo3.821" target="_blank">doi: 10.1002/mbo3.821</a>
      </div>
    </li>
    <li>
      <div class="year"></div>
      <div>
        Brouwer MS, Jurburg SD, Harders F, Kant A, Mevius DJ, Roberts AP, & Bossers A. The shufflon of
        IncI1 plasmids is rearranged constantly during different growth conditions. <span
          class="italic">Plasmid.</span> <a href="https://doi.org/10.1016/j.plasmid.2019.03.003"
          target="_blank">doi: 10.1016/j.plasmid.2019.03.003</a>
      </div>
    </li>
    <li>
      <div class="year">2018</div>
      <div>
        <span class="bold">Jurburg SD</span>, Natal-da-Luz T, Raimundo J, Morais PV, Sousa JP, van Elsas
        JD, Salles JF. Bacterial communities in soil become sensitive to drought under intensive
        grazing. <span class="italic">Science of the Total Environment.</span> <a
          href="https://doi.org/10.1016/j.scitotenv.2017.10.012" target="_blank">doi:
          10.1016/j.scitotenv.2017.10.012</a>
      </div>
    </li>
    <li>
      <div class="year"></div>
      <div>
        Nunes I, <span class="bold">Jurburg SD</span>, Jacquiod S, Brejnrod A, Salles JF, Priemé A,
        Sørensen SJ. Soil bacteria show different tolerance ranges to an unprecedented disturbance.
        <span class="italic">Biology and Fertility of Soils.</span> <a
          href="https://doi.org/10.1007/s00374-017-1255-4" target="_blank">doi:
          10.1007/s00374-017-1255-4</a>
      </div>
    </li>
    <li>
      <div class="year">2017</div>
      <div>
        <span class="bold">Jurburg SD</span>, Nunes I, Stegen J, Roux X Le, Prieme A, Sørensen S, Salles
        JF. Autogenic succession and deterministic recovery following disturbance in soil bacterial
        communities. <span class="italic"> Scientific Reports.</span> <a
            href="https://doi.org/10.1038/srep45691" target="_blank">doi: 10.1038/srep45691</a>
      </div>
    </li>
    <li>
      <div class="year"></div>
      <div>
        <span class="bold">Jurburg SD</span>, Nunes I, Brejnrod A, Jacquiod S, Prieme A, Sørensen S, van
        Elsas JD, Salles JF. Legacy Effects on the Recovery of Soil Bacterial Communities from Extreme
        Temperature Perturbation. <span class="italic">Frontiers in Microbiology.</span> <a
          href="https://doi.org/10.3389/fmicb.2017.01832" target="_blank">doi:
          10.3389/fmicb.2017.01832</a>
      </div>
    </li>
    <li>
      <div class="year"></div>
      <div>
        Thompson, Luke R, Jon G Sanders, Daniel McDonald, Amnon Amir, Joshua Ladau, Kenneth J Locey,
        Robert J Prill, Anupriya Tripathi, Sean M Gibbons, Gail Ackermann, <span class="bold">The Earth
          Microbiome Project Consortium.</span> A Communal Catalogue Reveals Earth’s Multiscale
        Microbial Diversity. <span class="italic">Nature.</span> <a
          href="https://doi.org/10.1038/nature24621" target="_blank">doi: 10.1038/nature24621</a>
      </div>
    </li>
    <li>
      <div class="year">2014</div>
      <div>
        <span class="bold">Jurburg SD</span>, Salles JF. Functional Redundancy and Ecosystem
        Function—The Soil Microbiota as a Case Study. In (<span class="italic">Yueh- Hsin Lo, Blanco JA,
          Roy S Biodiversity in Ecosystems-Linking Structure and Function.</span>) <a
          href="https://doi.org/10.5772/58981" target="_blank">doi: 10.5772/58981</a>
      </div>
    </li>
    <li>
      <div class="year">2011</div>
      <div>
        Seager R, Pederson N, Kushnir Y, Nakamura J, <span class="bold">Jurburg S.</span> The 1960s
        drought and the subsequent shift to a wetter climate in the Catskill Mountains region of the New
        York City watershed. <span class="italic">Journal of Climate.</span> <a
          href="https://doi.org/10.1175/JCLI-D-11-00518.1" target="_blank">doi:
          10.1175/JCLI-D-11-00518.1</a>
      </div>
    </li>
    <li>
      <div class="year">2010</div>
      <div>
        Seager R, Naik N, Baethgen W, Robertson A, Kushnir Y, Nakamura J, <span class="bold">Jurburg
          S.</span> Tropical oceanic causes of interannual to multidecadal precipitation variability
        across southeast South America over the past century. <span class="italic">Journal of
          Climate.</span> <a href="https://doi.org/10.1175/2010JCLI3578.1" target="_blank">doi:
          10.1175/2010JCLI3578.1</a>
      </div>
    </li>
  </ul>
</main>
