<main id="publications">
  <h1>Publications</h1>
  <hr>
  <ul>
    <li *ngFor="let publication of publications">
      <div class="year">{{publication.year}}</div>
      <div>
        <span 
          *ngFor="let author of publication.authorsList" 
          class="author" 
          [ngClass]="{'bold' : author.includes('Jurburg')}"
        >
          {{author}}
        </span>
        {{publication.title}}.
        <span class="italic">{{publication.journal}}.</span>
        <a href="https://doi.org/{{publication.doi}}" target="_blank">
          doi: {{publication.doi}}
        </a>
      </div>
    </li>
  </ul>
</main>
